html, body {
    height: 100%;
    font-size: 16px;
    font-family: sans-serif, 'Microsoft YaHei';
    padding: 0;
    margin: 0;
}
.page-enter-active, .page-leave-active {
    opacity: .5;
    transition: opacity .3s;
}

.page-enter, .page-leave-to {
    opacity: 0
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clearfix:before,
.clearfix:after {
    content: '';
    clear: both;
    display: block;
    height: 0;
}

/* a 连接需要各种颜色 */
.link-normal, 
.link-normal:visited,
.link-normal:hover, 
.link-normal:active {
    color: black;
}

/* link 激活状态背景色 */
.router-link-active {
    background-color: gray
}
